<div [formGroup]="group" class="grid grid-cols-1 gap-4 md:grid-cols-2">
    <spa-input
        [label]="'admin.settings.social.facebook' | transloco"
        formControlName="facebook"
    ></spa-input>
    <spa-input
        [label]="'admin.settings.social.instagram' | transloco"
        formControlName="instagram"
    ></spa-input>
    <spa-input
        [label]="'admin.settings.social.x' | transloco"
        formControlName="x"
    ></spa-input>
    <spa-input
        [label]="'admin.settings.social.linkedin' | transloco"
        formControlName="linkedin"
    ></spa-input>
    <spa-input
        [label]="'admin.settings.social.youtube' | transloco"
        formControlName="youtube"
    ></spa-input>
    <spa-input
        [label]="'admin.settings.social.tiktok' | transloco"
        formControlName="tiktok"
    ></spa-input>
</div>
