<div class="flex flex-col divide-y border-b border-t">
    <div
        class="flex cursor-pointer px-8 py-5"
        [ngClass]="{
            'dark:hover:bg-hover hover:bg-gray-100': selectedId !== item.id,
            'bg-primary-50 dark:bg-hover': selectedId === item.id,
        }"
        (click)="select(item.id)"
        *ngFor="let item of items; trackBy: trackById"
    >
        <mat-icon
            *ngIf="item.icon"
            [ngClass]="{
                'text-hint': selectedId !== item.id,
                'text-primary dark:text-primary-500': selectedId === item.id,
            }"
            [svgIcon]="item.icon"
        ></mat-icon>
        <div class="ml-3">
            <div
                class="font-medium leading-6"
                [ngClass]="{
                    'text-primary dark:text-primary-500':
                        selectedId === item.id,
                }"
            >
                {{ item.title }}
            </div>
            <div class="text-secondary mt-0.5" *ngIf="item.description">
                {{ item.description }}
            </div>
        </div>
    </div>
</div>
