<div class="bg-card flex h-full flex-col overflow-hidden">
    <div class="flex items-center justify-between border-b px-6 py-4">
        <h2 class="text-lg font-medium">
            {{ 'admin.media.picker.title' | transloco }}
        </h2>
        <button mat-icon-button (click)="close()">
            <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>
    <div class="relative flex-auto overflow-hidden">
        <spa-media-list
            [selectionMode]="true"
            (mediaSelect)="select($event)"
        ></spa-media-list>
    </div>

    @if (data.mode === 'multiple') {
        <div
            class="flex items-center justify-between border-t bg-gray-50 px-6 py-4 dark:bg-black/10"
        >
            <div class="text-secondary text-sm">
                {{ selectedItems.size }}
                {{ 'admin.common.selected' | transloco }}
            </div>
            <div class="flex items-center gap-2">
                <button mat-button (click)="close()">
                    {{ 'admin.common.actions.cancel' | transloco }}
                </button>
                <button
                    mat-flat-button
                    color="primary"
                    (click)="submit()"
                    [disabled]="selectedItems.size === 0"
                >
                    {{ 'admin.common.actions.select' | transloco }}
                </button>
            </div>
        </div>
    }
</div>
