<div mat-dialog-title class="spa-dialog-header">
    <div class="spa-dialog-header__title-container">
        <h2 class="spa-dialog-header__title">{{ title }}</h2>
        @if (subtitle) {
            <span class="spa-dialog-header__subtitle">{{ subtitle }}</span>
        }
    </div>
    @if (showCloseButton) {
        <button
            mat-icon-button
            type="button"
            class="spa-dialog-header__close"
            (click)="onClose($event)"
        >
            <mat-icon>close</mat-icon>
        </button>
    }
</div>
