<div class="flex h-full w-full min-w-0 flex-col">
    <admin-page-header
        [title]="'admin.products.types.title' | transloco"
        [subtitle]="'admin.products.types.subtitle' | transloco"
        [showCreateButton]="true"
        [createButtonText]="'admin.products.types.add' | transloco"
        (createClick)="createType()"
        [showSearch]="true"
        [searchPlaceholder]="'admin.common.searchPlaceholder' | transloco"
        (search)="onSearchInput($event)"
    >
    </admin-page-header>

    <div class="flex flex-auto flex-col overflow-hidden">
        <div class="flex flex-auto flex-col overflow-y-auto">
            <spa-admin-grid
                [items]="store.items()"
                [columns]="columns"
                [actions]="actions"
                [isLoading]="store.isLoading()"
                (actionClick)="onGridAction($event)"
            ></spa-admin-grid>
        </div>

        @if (totalElementsSig() > 0) {
            <spa-admin-paginator
                class="z-10 flex-none"
                [length]="totalElementsSig()"
                [pageSize]="pageSizeSig()"
                [pageIndex]="pageIndexSig()"
                (page)="onPageChange($event)"
            ></spa-admin-paginator>
        }
    </div>
</div>
