.spa-dialog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px 0;
}

mat-dialog-content {
    padding: 24px !important;
    min-width: 450px;
}
