<spa-dialog
    [title]="dialogTitle()"
    [submitDisabled]="form.invalid"
    [isSubmitting]="isSubmitting()"
    [submitLabel]="submitButtonLabel()"
    (closed)="cancel()"
    (cancelled)="cancel()"
    (submitted)="save()"
>
    <form [formGroup]="form" class="flex flex-col gap-4">
        <spa-input
            formControlName="uid"
            [label]="'admin.pageSlots.uid' | transloco"
            placeholder="e.g. cmsitem_12345678"
            patternType="uid"
        >
        </spa-input>

        <spa-input
            formControlName="slotName"
            [label]="'admin.pageSlots.slotName' | transloco"
            placeholder="e.g. Header, MainContent, Footer"
            patternType="slotName"
        >
        </spa-input>

        <spa-select
            formControlName="position"
            [label]="'admin.pageSlots.position' | transloco"
            [options]="positionOptions"
        >
        </spa-select>

        <div class="flex flex-row gap-6 py-2">
            <spa-toggle
                formControlName="isActive"
                [label]="'admin.pageSlots.isActive' | transloco"
            >
            </spa-toggle>

            <spa-toggle
                formControlName="isShared"
                [label]="'admin.pageSlots.isShared' | transloco"
            >
            </spa-toggle>
        </div>
    </form>
</spa-dialog>
