.spa-dialog {
    display: flex;
    flex-direction: column;
    max-height: 90vh;
    background: var(--fuse-card);
    border-radius: 0.5rem;
    overflow: hidden;

    &--sm {
        width: 400px;
        max-width: 100%;
    }

    &--md {
        width: 560px;
        max-width: 100%;
    }

    &--lg {
        width: 720px;
        max-width: 100%;
    }

    &--xl {
        width: 900px;
        min-width: 600px;
        max-width: 100%;
    }
}
