<div
    class="bg-card flex min-w-0 flex-auto flex-col overflow-hidden sm:absolute sm:inset-0 dark:bg-transparent"
>
    <admin-page-header
        [title]="'admin.users.title' | transloco"
        [showCreateButton]="true"
        [createButtonText]="'admin.users.create' | transloco"
        (createClick)="openCreateDialog()"
        [showSearch]="true"
        [searchPlaceholder]="'admin.users.searchPlaceholder' | transloco"
        (search)="onSearchInput($event)"
        [isLoading]="store.isLoading()"
    >
        <ng-container actions>
            <spa-admin-sort-dropdown
                [availableSorts]="store.sortConfig()?.availableSorts || []"
                [sortCode]="sortCodeSig()"
                (sortChange)="onSortChange($event)"
            >
            </spa-admin-sort-dropdown>
        </ng-container>
    </admin-page-header>

    <div class="flex flex-auto flex-col overflow-hidden">
        <div class="flex flex-auto flex-col overflow-y-auto">
            <spa-admin-grid
                [items]="store.items()"
                [columns]="columns()"
                [actions]="actions()"
                [isLoading]="store.isLoading()"
                [emptyTitle]="'admin.users.emptyMessage' | transloco"
                [actionsTemplate]="actionsTemplate"
                (rowClick)="openEditDialog($event)"
            >
            </spa-admin-grid>
        </div>

        @if (store.totalElements() > 0) {
            <spa-admin-paginator
                class="z-10 flex-none"
                [pageIndex]="pageIndexSig()"
                [pageSize]="pageSizeSig()"
                [length]="store.totalElements()"
                (pageCallback)="onPageChange($event)"
            >
            </spa-admin-paginator>
        }
    </div>
</div>

<ng-template #actionsTemplate let-user>
    <button
        mat-icon-button
        color="primary"
        [matTooltip]="'admin.users.actions.edit' | transloco"
        (click)="$event.stopPropagation(); openEditDialog(user)"
    >
        <mat-icon svgIcon="heroicons_outline:pencil-square"></mat-icon>
    </button>

    <button
        mat-icon-button
        color="warn"
        [matTooltip]="'admin.users.actions.delete' | transloco"
        (click)="$event.stopPropagation(); deleteUser(user)"
    >
        <mat-icon svgIcon="heroicons_outline:trash"></mat-icon>
    </button>

    <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        (click)="$event.stopPropagation()"
    >
        <mat-icon svgIcon="heroicons_outline:ellipsis-vertical"></mat-icon>
    </button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openPasswordDialog(user, 'change')">
            <mat-icon>key</mat-icon>
            <span>{{ 'admin.users.actions.changePassword' | transloco }}</span>
        </button>
        <button mat-menu-item (click)="openPasswordDialog(user, 'reset')">
            <mat-icon>lock_reset</mat-icon>
            <span>{{ 'admin.users.actions.resetPassword' | transloco }}</span>
        </button>

        <mat-divider></mat-divider>

        @if (user.isActive) {
            <button mat-menu-item (click)="toggleUserStatus(user, false)">
                <mat-icon color="warn">block</mat-icon>
                <span>{{ 'admin.users.actions.deactivate' | transloco }}</span>
            </button>
        } @else {
            <button mat-menu-item (click)="toggleUserStatus(user, true)">
                <mat-icon color="primary">check_circle</mat-icon>
                <span>{{ 'admin.users.actions.activate' | transloco }}</span>
            </button>
        }
    </mat-menu>
</ng-template>
