<div
    class="relative flex flex-0 flex-col border-b px-6 py-8 sm:flex-row sm:items-center sm:justify-between md:px-8"
>
    <div class="text-4xl font-extrabold tracking-tight">
        {{ titleKey | transloco }}
    </div>
    <div class="mt-6 flex shrink-0 items-center sm:ml-4 sm:mt-0">
        <mat-form-field
            class="fuse-mat-dense fuse-mat-rounded mr-4 min-w-40"
            [subscriptSizing]="'dynamic'"
        >
            <mat-label>{{ filterLabelKey | transloco }}</mat-label>
            <mat-select
                [value]="filterValue"
                (selectionChange)="onFilterChange($event.value)"
            >
                <mat-option
                    *ngFor="let opt of filterOptions; trackBy: trackByValue"
                    [value]="opt.value"
                    >{{ opt.label }}</mat-option
                >
            </mat-select>
        </mat-form-field>
        <button
            class="ml-4"
            mat-flat-button
            [color]="'primary'"
            (click)="onCreate()"
        >
            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
            <span class="ml-2 mr-1">{{ createLabelKey | transloco }}</span>
        </button>
    </div>
</div>
