:host {
    display: block;
    flex: 0 0 auto;
}

.spa-dialog-footer {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    border-top: 1px solid var(--fuse-border);
    background: var(--fuse-bg-hover);

    &__actions {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        margin-left: auto;
    }
}
