<div class="grid grid-cols-1 gap-4 p-4">
    <mat-form-field class="w-full">
        <mat-label>{{ titleLabel | transloco }}</mat-label>
        <input matInput [formControl]="form.controls['title']" />
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label>{{ subtitleLabel | transloco }}</mat-label>
        <input matInput [formControl]="form.controls['subtitle']" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full">
        <mat-label>JSON Data</mat-label>
        <textarea
            matInput
            rows="8"
            [formControl]="form.controls['data']"
        ></textarea>
    </mat-form-field>
</div>
