<spa-dialog-header
    [title]="
        (data.mode === 'create'
            ? 'admin.products.categories.create'
            : 'admin.products.categories.edit'
        ) | transloco
    "
    (closeClicked)="cancel()"
></spa-dialog-header>

<spa-dialog-content type="tabbed">
    <spa-tab-container [tabs]="tabs()" [(activeTabIndex)]="activeTab">
        <ng-template spaTabContent="general">
            <form [formGroup]="generalForm" class="mt-4 flex flex-col gap-4">
                <spa-input
                    formControlName="code"
                    [label]="'admin.common.fields.code' | transloco"
                    [required]="true"
                    hint="Unique identifier"
                    [readonly]="data.mode === 'edit'"
                ></spa-input>

                <spa-select
                    formControlName="parentId"
                    [label]="
                        'admin.products.categories.fields.parent' | transloco
                    "
                    [options]="parentOptions()"
                    hint="Optional parent category"
                ></spa-select>

                <spa-input
                    formControlName="sortOrder"
                    type="number"
                    [label]="'admin.common.fields.order' | transloco"
                ></spa-input>

                <spa-checkbox
                    formControlName="isVisible"
                    [label]="'admin.common.fields.isVisible' | transloco"
                    styleClasses="boxed"
                ></spa-checkbox>
            </form>
        </ng-template>

        @for (lang of languages; track lang) {
            <ng-template [spaTabContent]="'lang-' + lang">
                <form
                    [formGroup]="i18nForms[lang]"
                    class="mt-4 flex flex-col gap-4"
                >
                    <spa-input
                        formControlName="name"
                        [label]="'admin.common.fields.name' | transloco"
                        [required]="true"
                    ></spa-input>

                    <spa-textarea
                        formControlName="description"
                        [label]="'admin.common.fields.description' | transloco"
                        [rows]="4"
                    ></spa-textarea>
                </form>
            </ng-template>
        }
    </spa-tab-container>
</spa-dialog-content>

<spa-dialog-footer
    [submitLabel]="
        (data.mode === 'create' ? 'admin.common.create' : 'admin.common.save')
            | transloco
    "
    (submitClicked)="save()"
    (cancelClicked)="cancel()"
></spa-dialog-footer>
