<div class="w-full">
    <form
        [formGroup]="form"
        (ngSubmit)="generate()"
        class="flex flex-col gap-3"
    >
        <!-- Mode Selection -->
        <spa-radio-button
            formControlName="mode"
            [options]="modeOptions"
            class="flex gap-4"
        ></spa-radio-button>

        <div class="grid grid-cols-[1fr_160px_90px_auto] items-start gap-3">
            @if (form.get('mode')?.value === 'PRESET') {
                <spa-select
                    class="w-full"
                    formControlName="formatCode"
                    [label]="'admin.media.format.select' | transloco"
                    [options]="formatOptions"
                ></spa-select>
            }

            @if (form.get('mode')?.value === 'CUSTOM') {
                <div class="flex gap-2">
                    <spa-input
                        class="w-full"
                        formControlName="customWidth"
                        [label]="'admin.media.format.width' | transloco"
                        type="number"
                        [hint]="'px'"
                    ></spa-input>

                    <spa-input
                        class="w-full"
                        formControlName="customHeight"
                        [label]="'admin.media.format.height' | transloco"
                        type="number"
                        [hint]="'px'"
                    ></spa-input>
                </div>
            }

            <spa-select
                class="w-full"
                formControlName="outputFormat"
                [label]="'admin.media.format.output' | transloco"
                [options]="outputFormatOptions"
            ></spa-select>

            <spa-input
                class="w-full"
                formControlName="quality"
                [label]="'admin.media.format.quality' | transloco"
                type="number"
            ></spa-input>
        </div>
        <button
            mat-flat-button
            color="primary"
            [disabled]="form.invalid || isGenerating || isLoadingFormats"
            class="mt-[26px] h-[40px]"
        >
            @if (isGenerating) {
                <mat-spinner diameter="20"></mat-spinner>
            } @else {
                <span>{{ 'admin.common.actions.create' | transloco }}</span>
            }
        </button>
    </form>
</div>
