<spa-dialog
    [title]="dialogTitle"
    [subtitle]="data.component?.uid"
    [size]="'xl'"
    [contentType]="'tabbed'"
    [submitDisabled]="generalForm.invalid"
    [isSubmitting]="isSubmitting()"
    submitLabel="admin.dialog.actions.save"
    cancelLabel="admin.dialog.actions.close"
    (closed)="cancel()"
    (cancelled)="cancel()"
    (submitted)="save()"
>
    <spa-tab-container [tabs]="tabs" [(activeTabIndex)]="activeTab">
        <ng-template spaTabContent="general">
            <form [formGroup]="generalForm" class="flex flex-col gap-6">
                <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
                    <spa-input
                        class="sm:col-span-2"
                        formControlName="uid"
                        [label]="'admin.common.fields.uid' | transloco"
                        [required]="true"
                    >
                    </spa-input>

                    @if (data.mode === 'edit') {
                        <spa-input
                            formControlName="componentTypeName"
                            [label]="'admin.components.fields.type' | transloco"
                        >
                        </spa-input>
                    } @else {
                        <spa-select
                            formControlName="componentTypeId"
                            [label]="'admin.components.fields.type' | transloco"
                            [options]="componentTypeOptions"
                            [placeholder]="
                                'admin.common.placeholders.selectType' | transloco
                            "
                            [required]="true"
                        >
                        </spa-select>
                    }

                </div>

                @if (isNavigationAwareSig()) {
                    <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
                        <spa-select
                            formControlName="navigationNodeId"
                            [label]="'admin.components.fields.navigationNode' | transloco"
                            [options]="navigationNodeOptions"
                            [placeholder]="'admin.components.placeholders.selectNavigationNode' | transloco"
                        >
                        </spa-select>

                        <spa-select
                            formControlName="navigationType"
                            [label]="'admin.components.fields.navigationType' | transloco"
                            [options]="navigationTypeOptions"
                            [placeholder]="'admin.components.placeholders.selectNavigationType' | transloco"
                        >
                        </spa-select>

                        <spa-checkbox
                            class="sm:col-span-2"
                            formControlName="searchBox"
                            [label]="'admin.components.fields.searchBox' | transloco"
                            styleClasses="boxed"
                        >
                        </spa-checkbox>
                    </div>
                }

                <div class="my-2 w-full border-t"></div>

                <div class="flex flex-col gap-4">
                    <h3 class="text-secondary text-base font-medium">
                        {{ 'admin.components.fields.appearance' | transloco }}
                    </h3>

                    <spa-input
                        formControlName="styleClasses"
                        [label]="
                            'admin.components.fields.styleClasses' | transloco
                        "
                        [hint]="
                            'admin.components.hints.styleClasses' | transloco
                        "
                        placeholder="e.g. bg-primary text-white"
                    >
                    </spa-input>

                    <spa-checkbox
                        formControlName="isVisible"
                        [label]="
                            'admin.components.fields.isVisible' | transloco
                        "
                        styleClasses="boxed"
                    >
                    </spa-checkbox>
                </div>
            </form>
        </ng-template>

        <ng-template spaTabContent="media">
            <form [formGroup]="generalForm">
                <spa-media-picker
                    formControlName="responsiveMedia"
                    [responsive]="true"
                ></spa-media-picker>
            </form>
        </ng-template>

        @for (lang of languages; track lang) {
            <ng-template [spaTabContent]="'lang-' + lang">
                <form [formGroup]="i18nForms[lang]" class="flex flex-col gap-6">
                    <div
                        class="rounded-lg border border-slate-200 bg-slate-50 p-4 dark:border-slate-700 dark:bg-slate-800/50"
                    >
                        <div
                            class="text-secondary mb-4 flex items-center gap-2"
                        >
                            <mat-icon class="icon-size-5">info</mat-icon>
                            <span
                                class="text-sm font-medium uppercase tracking-wide"
                            >
                                {{
                                    'admin.components.entries.basicInfo'
                                        | transloco
                                }}
                                ({{ lang | uppercase }})
                            </span>
                        </div>

                        <div class="flex flex-col gap-4">
                            <spa-input
                                formControlName="title"
                                [label]="
                                    'admin.components.fields.title' | transloco
                                "
                            >
                            </spa-input>

                            <spa-input
                                formControlName="subtitle"
                                [label]="
                                    'admin.components.fields.subtitle'
                                        | transloco
                                "
                            >
                            </spa-input>

                            <spa-textarea
                                formControlName="description"
                                [label]="
                                    'admin.components.fields.description'
                                        | transloco
                                "
                                [rows]="4"
                            >
                            </spa-textarea>
                        </div>
                    </div>
                </form>
            </ng-template>
        }

        @if (data.component) {
            <ng-template spaTabContent="entries">
                <spa-component-entry-list
                    [componentId]="data.component.id"
                    [componentTypeId]="data.component.componentTypeId"
                    [languages]="languages"
                    [draftMode]="!!data.draftMode"
                    (draftSaved)="onEntryDraftSaved()"
                >
                </spa-component-entry-list>
            </ng-template>
        }
    </spa-tab-container>
</spa-dialog>
