<div
    class="flex items-start space-x-3 rounded-lg border p-3 hover:bg-gray-50 dark:hover:bg-gray-800"
>
    <mat-checkbox
        [checked]="isSelected()"
        [disabled]="isDisabled()"
        (change)="onToggle.emit()"
    ></mat-checkbox>
    <div class="flex-1">
        <div class="font-medium">{{ module().name }}</div>
        <div class="text-secondary text-sm">{{ module().description }}</div>
        @if (module().deps?.length) {
            <div class="mt-2 flex flex-wrap gap-1">
                @for (dep of module().deps; track dep) {
                    <mat-chip class="text-xs" disabled>
                        Requires: {{ dep }}
                    </mat-chip>
                }
            </div>
        }
    </div>
</div>
