<div [formGroup]="form()" class="grid grid-cols-1 gap-4">
    @for (field of fields(); track field.key) {
        @switch (field.type) {
            @case ('text') {
                <spa-input
                    [controlName]="field.key"
                    [label]="getLabel(field)"
                    [required]="field.required ?? false"
                    [hint]="field.hint"
                    [placeholder]="field.placeholder"
                    [labelTooltip]="field.labelTooltip"
                ></spa-input>
            }
            @case ('number') {
                <spa-input
                    type="number"
                    [controlName]="field.key"
                    [label]="getLabel(field)"
                    [required]="field.required ?? false"
                    [hint]="field.hint"
                    [placeholder]="field.placeholder"
                    [labelTooltip]="field.labelTooltip"
                ></spa-input>
            }
            @case ('textarea') {
                <spa-textarea
                    [controlName]="field.key"
                    [label]="getLabel(field)"
                    [required]="field.required ?? false"
                    [rows]="4"
                    [hint]="field.hint"
                    [placeholder]="field.placeholder"
                    [labelTooltip]="field.labelTooltip"
                ></spa-textarea>
            }
            @case ('richtext') {
                <spa-textarea
                    [controlName]="field.key"
                    [label]="getLabel(field)"
                    [required]="field.required ?? false"
                    [rows]="6"
                    [hint]="field.hint"
                    [placeholder]="field.placeholder"
                    [labelTooltip]="field.labelTooltip"
                ></spa-textarea>
            }
            @case ('select') {
                <spa-select
                    [controlName]="field.key"
                    [label]="getLabel(field)"
                    [required]="field.required ?? false"
                    [options]="field.options ?? []"
                    [hint]="field.hint"
                    [placeholder]="field.placeholder"
                    [labelTooltip]="field.labelTooltip"
                ></spa-select>
            }
            @case ('boolean') {
                <spa-checkbox
                    [controlName]="field.key"
                    [label]="getLabel(field)"
                    [labelTooltip]="field.labelTooltip"
                ></spa-checkbox>
            }
            @case ('date') {
                <spa-input
                    type="date"
                    [controlName]="field.key"
                    [label]="getLabel(field)"
                    [required]="field.required ?? false"
                    [hint]="field.hint"
                    [placeholder]="field.placeholder"
                    [labelTooltip]="field.labelTooltip"
                ></spa-input>
            }
            @case ('media') {
                <spa-media-picker
                    [controlName]="field.key"
                    [label]="getLabel(field)"
                    [required]="field.required ?? false"
                ></spa-media-picker>
            }
        }
    }
</div>
