.dialog-field {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 1rem;

  .error-message {
    font-size: 12px;
    color: var(--fuse-warn);
    padding: 0 4px;
  }

  mat-checkbox {
    padding: 8px 0;
  }
}

