<mat-form-field
    [class]="fullWidth ? 'w-full ' + (styleClasses || '') : styleClasses"
    [subscriptSizing]="'dynamic'"
    [floatLabel]="'always'"
>
    @if (label) {
        <mat-label [matTooltip]="labelTooltip || ''">{{ label }}</mat-label>
    }
    @if (textarea) {
        <textarea
            matInput
            [rows]="rows"
            [placeholder]="placeholder || ''"
            [disabled]="disabled"
            [value]="value ?? ''"
            [errorStateMatcher]="errorStateMatcher"
            (input)="onInput($event)"
            (blur)="onBlur()"
        ></textarea>
    } @else {
        <input
            matInput
            [type]="type"
            [placeholder]="placeholder || ''"
            [disabled]="disabled"
            [readonly]="readonly"
            [value]="value ?? ''"
            [errorStateMatcher]="errorStateMatcher"
            (input)="onInput($event)"
            (blur)="onBlur()"
            (keydown.enter)="enter.emit(value)"
        />
    }
    <ng-content select="[matSuffix]"></ng-content>
    <ng-content select="[matPrefix]"></ng-content>
    @if (hint && !hasError) {
        <mat-hint>{{ hint }}</mat-hint>
    }
</mat-form-field>
@if (showErrors && hasError) {
    <div class="text-sm mat-mdc-form-field-error">
        {{ errorMessage | transloco: errorParams }}
    </div>
}
