<spa-dialog-header
    [title]="
        (data.mode === 'create'
            ? 'admin.products.customFields.create'
            : 'admin.products.customFields.edit'
        ) | transloco
    "
    (closeClicked)="cancel()"
></spa-dialog-header>

<spa-dialog-content>
    <form
        [formGroup]="generalForm"
        class="flex max-h-[60vh] flex-col gap-4 overflow-y-auto pr-2"
    >
        <spa-input
            formControlName="name"
            [label]="'admin.common.fields.name' | transloco"
            [required]="true"
            [placeholder]="'admin.common.placeholders.name' | transloco"
            [labelTooltip]="'name'"
        ></spa-input>

        <spa-select
            formControlName="fieldType"
            [label]="'admin.products.customFields.fieldType' | transloco"
            [options]="fieldTypes"
            [required]="true"
            [placeholder]="
                'admin.products.customFields.placeholders.fieldType' | transloco
            "
            [labelTooltip]="'fieldType'"
            [disabled]="data.mode === 'edit'"
        ></spa-select>
    </form>
</spa-dialog-content>

<spa-dialog-footer
    [submitLabel]="
        (data.mode === 'create' ? 'admin.common.create' : 'admin.common.save')
            | transloco
    "
    (submitClicked)="save()"
    (cancelClicked)="cancel()"
></spa-dialog-footer>
