<div class="flex min-w-0 flex-auto flex-col">
    <!-- Header -->
    <div
        class="bg-card flex flex-0 flex-col border-b p-6 dark:bg-transparent sm:flex-row sm:items-center sm:justify-between sm:px-10 sm:py-8"
    >
        <div class="min-w-0 flex-1">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500"
                        >User Interface</a
                    >
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2
                    class="truncate text-3xl font-extrabold leading-7 tracking-tight sm:leading-10 md:text-4xl"
                >
                    TailwindCSS
                </h2>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div class="prose prose-sm max-w-3xl">
            <p>
                As per the official page of Tailwind CSS, it is a highly
                customizable, low-level CSS framework that gives you all of the
                building blocks you need to build bespoke designs without any
                annoying opinionated styles you have to fight to override.
            </p>
            <p>
                To simply put, Tailwind provides helper classes for almost every
                CSS rule available. Fuse includes and uses Tailwind by default
                and it can be used in any part of the theme.
            </p>

            <h2>Official docs</h2>
            <p>
                Official Tailwind CSS documentation:
                <a
                    class="link"
                    href="https://tailwindcss.com/"
                    rel="noreferrer"
                    target="_blank"
                    >https://tailwindcss.com/
                </a>
            </p>
        </div>
    </div>
</div>
