<mat-form-field
    class="w-full"
    [class]="styleClasses"
    [subscriptSizing]="'dynamic'"
    [floatLabel]="'always'"
>
    @if (label) {
        <mat-label [matTooltip]="labelTooltip || ''">{{ label }}</mat-label>
    }
    <textarea
        matInput
        [rows]="rows"
        [placeholder]="placeholder || ''"
        [disabled]="disabled"
        [errorStateMatcher]="errorStateMatcher"
        (input)="onInput($event)"
        (blur)="onBlur()"
        >{{ value ?? '' }}</textarea
    >
    @if (hint && !hasError) {
        <mat-hint>{{ hint }}</mat-hint>
    }
</mat-form-field>
@if (showErrors && hasError) {
    <div class="text-sm mat-mdc-form-field-error">
        {{ errorMessage | transloco:errorParams }}
    </div>
}
