<div
    class="flex w-full min-w-0 flex-col sm:absolute sm:inset-0 sm:overflow-hidden"
>
    <mat-drawer-container class="flex-auto sm:h-full">
        <mat-drawer
            class="sm:w-96 dark:bg-gray-900"
            [autoFocus]="false"
            [mode]="drawerMode"
            [opened]="drawerOpened"
            #drawer
        >
            <div class="m-8 mr-6 flex items-center justify-between sm:my-10">
                <div
                    class="text-4xl font-extrabold leading-none tracking-tight"
                >
                    Navbar
                </div>
                <div class="lg:hidden">
                    <button mat-icon-button (click)="drawer.close()">
                        <mat-icon
                            [svgIcon]="'heroicons_outline:x-mark'"
                        ></mat-icon>
                    </button>
                </div>
            </div>
            <spa-panel-list
                [items]="panels"
                [selectedId]="selectedPanel"
                (selectedIdChange)="goToPanel($event)"
            ></spa-panel-list>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col">
            <div class="flex-auto px-6 pb-12 pt-9 md:p-8 md:pb-12 lg:p-12">
                <div class="flex items-center justify-between">
                    <div
                        class="ml-2 text-3xl font-bold leading-none tracking-tight lg:ml-0"
                    >
                        {{
                            selectedPanel === 'general'
                                ? ('admin.components.common.panels.general'
                                  | transloco)
                                : selectedPanel === 'tr'
                                  ? ('admin.components.common.panels.tr'
                                    | transloco)
                                  : ('admin.components.common.panels.en'
                                    | transloco)
                        }}
                    </div>
                    <div>
                        <button
                            mat-flat-button
                            [color]="'primary'"
                            (click)="save()"
                        >
                            <mat-icon
                                [svgIcon]="'heroicons_outline:check'"
                            ></mat-icon>
                            <span class="ml-2">Save</span>
                        </button>
                    </div>
                </div>

                <div class="mt-8 grid grid-cols-1 gap-6 lg:grid-cols-3">
                    <div class="lg:col-span-1">
                        <spa-component-metadata
                            [form]="form"
                            [keyLabelKey]="'admin.components.common.fields.key'"
                            [visibleLabelKey]="
                                'admin.components.common.fields.visible'
                            "
                            [statusLabelKey]="'admin.common.grid.status'"
                            [sortOrderLabelKey]="
                                'admin.components.common.fields.sortOrder'
                            "
                        ></spa-component-metadata>
                    </div>

                    <div class="lg:col-span-2">
                        @switch (selectedPanel) {
                            @case ('general') {
                                <div class="text-secondary p-4">
                                    Type-specific general settings will go here.
                                </div>
                            }
                            @case ('tr') {
                                <spa-i18n-editor
                                    [form]="form.controls.tr"
                                    titleLabel="admin.common.fields.title"
                                    subtitleLabel="admin.common.fields.description"
                                ></spa-i18n-editor>
                            }
                            @case ('en') {
                                <spa-i18n-editor
                                    [form]="form.controls.en"
                                    titleLabel="admin.common.fields.title"
                                    subtitleLabel="admin.common.fields.description"
                                ></spa-i18n-editor>
                            }
                        }
                    </div>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
