<ng-container [ngSwitch]="field.type">
    <mat-form-field *ngSwitchCase="'text'" appearance="outline" class="full-width">
        <mat-label>{{ field.label }}{{ field.required ? ' *' : '' }}</mat-label>
        <input matInput [formControl]="control" [maxlength]="field.maxLength || 9999" />
        @if (control.errors && control.touched) {
            <mat-error>{{ getErrorMessage() }}</mat-error>
        }
    </mat-form-field>

    <spa-textarea *ngSwitchCase="'textarea'"
        [formControl]="control"
        [label]="field.label + (field.required ? ' *' : '')"
        [maxLength]="field.maxLength || 9999"
        [rows]="4" />

    <mat-form-field *ngSwitchCase="'number'" appearance="outline" class="full-width">
        <mat-label>{{ field.label }}{{ field.required ? ' *' : '' }}</mat-label>
        <input matInput type="number" [formControl]="control"
            [min]="field.min" [max]="field.max" />
        @if (control.errors && control.touched) {
            <mat-error>{{ getErrorMessage() }}</mat-error>
        }
    </mat-form-field>

    <mat-checkbox *ngSwitchCase="'boolean'" [formControl]="control" class="checkbox-field">
        {{ field.label }}
    </mat-checkbox>

    <spa-select *ngSwitchCase="'select'"
        [formControl]="control"
        [label]="field.label"
        [required]="field.required || false"
        [options]="selectOptions()" />
</ng-container>
